---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About | Marwan ElKhodary">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About"
      description="Description"
    />

    <h2 class="mb-2 text-2xl font-bold text-rock dark:text-cream">Heading</h2>
    <p
      class="text-sm leading-6 text-rock dark:text-cream sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Description
    </p>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 text-rock dark:text-cream">Heading</h2>
    <p
      class="text-sm leading-6 text-rock dark:text-cream sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Description with a link <a
        href=""
        target="_blank"
        class="text-gasoline dark:text-cream underline">someLink</a>
    </p>
  </section>
</Layout>
