---
import Layout from "../layouts/main.astro";
import Cpu from "../components/pc-parts/cpu.astro";
import Motherboard from "../components/pc-parts/motherboard.astro";
import Psu from "../components/pc-parts/psu.astro";
import Hdd from "../components/pc-parts/hdd.astro";
import Case from "../components/pc-parts/case.astro";
import CpuCooler from "../components/pc-parts/cpuCooler.astro";
---

<script src="../assets/js/dragAndDrop.js"></script>

<Layout title="Marwan ElKhodary">
  <!-- <div class="relative mx-96 my-20 flex"> --> -->
  <div
    class="pt-20 flex flex-col xl:flex-row h-full mx-4 lg:mx-16 xl:mx-52 2xl:mx-72"
  >
    <!--Intro Blurb -->
    <div
      class="flex flex-col justify-center items-center h-1/2 xl:h-full xl:w-1/2"
    >
      <h1
        class="select-none mb-3 md:mb-8 lg:mb-10 text-center text-3xl md:text-7xl font-futuraMedium leading-tight text-rock dark:text-gasoline"
      >
        Hi! I'm Marwan.
      </h1>
      <!-- P Tags -->
      <div class="text-left mx-8">
        <p
          class="select-none font-futuraBook mb-3 md:mb-8 lg:mb-10 text-lg md:text-2xl text-rock dark:text-cream"
        >
          I'm a Full Stack Developer based in Toronto, Canada.
        </p>
        <p
          class="select-none font-futuraBook mb-3 md:mb-8 lg:mb-10 text-lg md:text-2xl text-rock dark:text-cream"
        >
          I've been building stuff on the web since 2020.
        </p>
        <p
          class="select-none font-futuraBook mb-3 md:mb-8 lg:mb-10 text-lg md:text-2xl text-rock dark:text-cream"
        >
          In 2021, I built my own computer. You can build your own too!
        </p>
      </div>
    </div>
    <!-- Computer Parts Container -->
    <div class="relative flex flex-wrap h-1/2 xl:h-full xl:w-1/2 2xl:w-2/3">
      <div
        class="absolute drag-drop touch-none hover:cursor-grab z-40 size-1/4 lg:size-1/12 top-0 right-24"
      >
        <CpuCooler />
      </div>
      <!-- <div
        class="absolute drag-drop touch-none hover:cursor-grab z-40 size-1/4 lg:size-1/12 top-0 right-0"
      >
        <Cpu />
      </div> -->
      <div
        class="absolute drag-drop touch-none hover:cursor-grab z-40 size-5/12 right-10 md:right-14 top-12 md:top-20"
      >
        <Motherboard />
      </div>
      <div
        class="absolute drag-drop touch-none hover:cursor-grab size-1/3 lg:size-1/4 bottom-0 right-0"
      >
        <Psu />
      </div>
      <div
        class="absolute drag-drop touch-none hover:cursor-grab size-1/4 top-0 left-28 md:left-56"
      >
        <Hdd />
      </div>
      <div class="absolute size-7/12 xl:size-1/2 bottom-0 left-0">
        <Case />
      </div>
    </div>
  </div>
</Layout>
