---
import Layout from "../layouts/main.astro";
import PcPart from "../components/pc-part.astro";
---

<Layout title="Marwan ElKhodary">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-gasoline"
        >
          Hi! I'm Marwan.
        </h1>
        <p class="mb-6 text-base text-rock dark:text-cream">
          I'm a Full Stack Developer based in Toronto, Canada.
        </p>
        <p class="mb-6 text-base text-rock dark:text-cream">
          I've been building stuff on the web since 2017.
        </p>
        <p class="mb-6 text-base text-rock dark:text-cream">
          In 2021, I built my own computer. Hope you have fun building your own
          too!
        </p>
      </div>
      <div class="flex flex-wrap gap-4 mt-6">
        <PcPart width="w-24" height="h-9" />
        <PcPart width="w-9" height="h-9" />
        <PcPart width="w-36" height="h-16" />
        <PcPart width="w-32" height="h-60" />
        <PcPart width="w-16" height="h-16" />
        <PcPart width="w-9" height="h-9" />
        <PcPart width="w-9" height="h-9" />
        <PcPart width="w-9" height="h-9" />
      </div>
    </div>
  </div>
</Layout>
