---
import Layout from "../layouts/main.astro";
import Cpu from "../components/pc-parts/cpu.astro";
import Motherboard from "../components/pc-parts/motherboard.astro";
import Psu from "../components/pc-parts/psu.astro";
import Hdd from "../components/pc-parts/hdd.astro";
import Case from "../components/pc-parts/case.astro";
import CpuCooler from "../components/pc-parts/cpuCooler.astro"
---

<script src="../assets/js/dragAndDrop.js"></script>

<Layout title="Marwan ElKhodary">
  <!-- <div class="relative mx-96 my-20 flex"> -->
  <!-- Everything -->
  <div class="flex flex-col lg:flex-row h-full mx-4 lg:mx-16 xl:mx-6 2xl:mx-72">
    <!--Intro Blurb -->
    <div class="flex flex-col justify-center items-center lg: h-1/2 lg:h-full">
      <h1
        class="select-none mb-6 text-center text-5xl font-futuraMedium leading-tight lg:text-6xl text-black dark:text-gasoline"
      >
        Hi! I'm Marwan.
      </h1>
      <!-- P Tags -->
      <div class="text-left mx-8">
        <p
          class="select-none font-futuraBook mb-6 text-xl text-black dark:text-cream"
        >
          I'm a Full Stack Developer based in Toronto, Canada.
        </p>
        <p
          class="select-none font-futuraBook mb-6 text-xl text-black dark:text-cream"
        >
          I've been building stuff on the web since 2020.
        </p>
        <p
          class="select-none font-futuraBook mb-6 text-xl text-black dark:text-cream"
        >
          In 2021, I built my own computer. You can build your own too!
        </p>
      </div>
    </div>
    <!-- Computer Parts Container -->
    <div class="flex flex-wrap h-1/2 lg:h-full lg:w-1/2 2xl:w-2/3">
      <div class="drag-drop z-50 w-20 h-12">
        <Cpu  />
      </div>
      <div class="drag-drop z-40 w-52 h-32">
        <Motherboard  />
      </div>
      <div class="drag-drop w-28 h-28">
        <Psu  />
      </div>
      <div class="drag-drop w-40 h-28">
        <Hdd  />
      </div>
      <div class="shrink w-52 h-72">
        <Case />
      </div>
      <div class="drag-drop w-24 h-24">
        <CpuCooler />
      </div>
    </div>
  </div>
</Layout>
