<section class="text-rock bg-cream dark:bg-rock">
  <div class="container flex flex-col items-center py-8 mx-auto px-7 max-w-7xl sm:flex-row">
    <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
      <a href="https://github.com/MarwanElKhodary" target="_blank" rel="no-referrer" class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white">
        <span class="sr-only">GitHub</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/marwan-elkhodary/" target="_blank" rel="no-referrer" class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white">
        <span class="sr-only">LinkedIn</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.447 20.452h-3.554v-5.568c0-1.328-.027-3.038-1.853-3.038-1.854 0-2.138 1.445-2.138 2.939v5.667H9.346V9h3.413v1.561h.049c.475-.9 1.637-1.853 3.366-1.853 3.598 0 4.26 2.369 4.26 5.452v6.292zM5.337 7.433c-1.144 0-2.066-.927-2.066-2.067 0-1.144.922-2.067 2.066-2.067 1.144 0 2.067.923 2.067 2.067 0 1.14-.923 2.067-2.067 2.067zM6.897 20.452H3.776V9h3.121v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.737v20.525C0 23.226.792 24 1.771 24h20.451C23.208 24 24 23.226 24 22.262V1.737C24 .774 23.208 0 22.225 0z"></path>
        </svg>
      </a>
      <a href="/resume.pdf" target="_blank" rel="no-referrer" class="w-6 h-6 text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white">
        <span class="sr-only">Resume</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.057 45.057" fill="currentColor" xml:space="preserve"><path d="M19.558 25.389a1.524 1.524 0 0 1-.264.455c-.108.129-.24.229-.396.301a1.358 1.358 0 0 1-.57.107c-.313 0-.572-.068-.78-.203a1.507 1.507 0 0 1-.498-.541 2.606 2.606 0 0 1-.27-.756 4.252 4.252 0 0 1-.084-.852c0-.289.027-.572.084-.853.056-.281.146-.533.27-.756.124-.225.29-.404.498-.541.208-.137.468-.203.78-.203.271 0 .494.051.666.154.172.105.31.225.414.361.104.137.176.273.216.414.04.139.068.25.084.33h2.568c-.112-1.08-.49-1.914-1.135-2.502-.644-.588-1.558-.887-2.741-.895-.664 0-1.263.107-1.794.324-.532.215-.988.52-1.368.912-.38.392-.672.863-.876 1.416a5.262 5.262 0 0 0-.307 1.836c0 .631.097 1.223.288 1.77.192.549.475 1.021.847 1.422s.825.717 1.361.949c.536.23 1.152.348 1.849.348.624 0 1.18-.105 1.668-.312.487-.209.897-.482 1.229-.822s.584-.723.756-1.146c.172-.422.259-.852.259-1.283h-2.593c-.039.2-.092.391-.161.566zM26.62 24.812h-.024l-1.404-5.196h-2.664l2.556 8.568h2.952l2.677-8.568H28z"/><path d="M33.431 0H5.179v45.057h34.699V6.251L33.431 0zm3.447 42.056H8.179V3h23.706v4.76h4.992l.001 34.296z"/></svg>
      </a>
      <a href="mailto:marwan.elkhodary@gmail.com" target="_blank" rel="no-referrer">
        <span class="sr-only">Email</span>
        <svg viewBox="0 -2.5 20 20" class="w-6 h-6 text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M10 12.474 0 3.649V15h20V3.649l-10 8.825Zm.001-2.662L0 .981V0h20v.981l-9.999 8.831Z"/></svg>
      </a>
    </span>
  </div>
</section>