<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-rock dark:text-gasoline font-semibold"
>
  <span
    class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
    >✦</span
  >
  <!-- Logo Text -->
  <span class="logo-text -translate-y-0.5"> MW</span>
</a>

<style>
  .logo-text {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: left;
    display: inline-block;
    transform: translateY(-0.5px);
  }
</style>
