---
const { title, description } = Astro.props;
---

<div class="relative z-20 w-full mx-auto flex flex-col items-center lg:mx-0">
  <h2
    class="underline decoration-gasoline underline-offset-8 text-3xl font-extrabold tracking-tight text-rock dark:text-gasoline sm:text-3xl lg:text-4xl"
  >
    {title}
  </h2>
</div>
