---
import Layout from "./main.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main
    class="relative z-30 max-w-4xl pb-1 mx-auto mt-10 bg-cream dark:bg-rock md:rounded-t-md text-rock dark:text-cream"
  >
    <div
      class="relative flex flex-col px-5 pt-6 md:pt-20 lg:px-0 justify-stretch md:rounded-t-2xl border-gasoline dark:border-cream"
    >
      <div
        class="absolute top-0 left-0 hidden w-px h-full mt-1 -translate-x-px md:block bg-gradient-to-b from-transparent to-cream dark:to-rock"
      >
      </div>
      <div
        class="absolute top-0 right-0 hidden w-px h-full mt-1 translate-x-px md:block bg-gradient-to-b from-transparent to-cream dark:to-rock"
      >
      </div>
      <h1
        class="w-full max-w-2xl mx-auto text-xl font-extrabold leading-tight tracking-tight text-left md:mb-12 md:text-4xl dark:text-gasoline lg:text-5xl md:leading-none"
      >
        {frontmatter.title}
      </h1>
      <div
        class="w-full max-w-2xl mx-auto text-left flex flex-row space-x-4 font-normal text-grey dark:text-neutral-400"
      >
        <p>{frontmatter.dateFormatted}</p>
        <p>12 words</p>
        <p>10 min</p>
      </div>
    </div>
    <article
      class="w-full max-w-2xl mx-auto mb-20 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert"
    >
      <slot />
    </article>
  </main>
</Layout>
